@{
    ViewBag.Title = "Add Review";
    var productId = Model.ProductId;
}
<body>
<div class="col-12 col-md-8">
    <form method="post" asp-controller="Reviews" asp-action="Add">
        <div class="form-group">
            <label for="Title">Title</label>
            <input class="form-control form-control-lg" type="text" name="Title" id="Title" placeholder="Title" required>
            <small id="emailHelp" class="form-text text-muted">Use a title that refers to the subject.</small>
        </div>
        <div class="form-group">
            <label for="Review">Review</label>
            <textarea class="form-control" name="Comment" id="Review" placeholder="Comment" rows="5" required></textarea>
        </div>
        <input name="ProductId" type="hidden" value="@productId">
        <button type="submit" class="btn btn-outline-secondary">Add a review</button>
    </form>
</div>
</body>