@using Dotnet6.GraphQL4.Store.WebMVC.Models
@{
    ViewData["Title"] = "Product Review";
    IEnumerable<ReviewModel> reviews = Model;
    var productId = reviews?.FirstOrDefault()?.ProductId;
}

<h3 class="text-center">Reviews</h3>

<body>

@if (reviews is null || reviews.Any() is false)
{
    <h5>No reviews yet</h5>
}
else
{
    @foreach (var review in reviews)
    {
        <div class="row">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="font-size: x-large">@review.Title</li>
                <li class="list-group-item" style="font-size: small">@review.Comment</li>
            </ul>
        </div>
    }

    <a asp-controller="Reviews" asp-action="Add" asp-route-productId="@productId" class="btn btn-outline-secondary review-btn">Add a review</a>
}

</body>