@model IEnumerable<Dotnet5.GraphQL.WebApplication.Domain.Entities.Products.Product>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        @item.Name
        <hr/>
    </div>
}