.product-dual-column {
  color: #56585b;
  background-color: #fff;
  font-family: 'Arial' ,'Lora', serif;
  font-size: 20px;
  margin-bottom: 5%;
}

.product-dual-column .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.product-dual-column .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 25px;
}

.product-dual-column .intro p {
  color: #929292;
  font-size: 12px;
}

.product-dual-column .intro p .by {
  font-style: italic;
}

.product-dual-column .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.product-dual-column .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px;
}

.product-dual-column .intro img {
  margin-top: 25px;
}

.product-dual-column .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width:768px) {
  .product-dual-column .text p {
    font-size: 16px;
  }
}

.product-dual-column .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

@media (min-width:768px) {
  .product-dual-column .text h2 {
    font-size: 20px;
  }
}

.product-dual-column .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-dual-column .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}

@media (max-width:767px) {
  .product-dual-column .details {
    border: 1px solid #d3d3d3;
    padding: 20px 0 15px;
    margin-bottom: 20px;
    border-width: 1px 0;
  }
}

.product-dual-column .details p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.product-dual-column .details ul {
  padding-left: 20px;
  font-size: 13px;
  margin-bottom: 0;
}

.product-dual-column .details li {
  padding: 2px 0;
}

.product-dual-column .details a {
  color: inherit;
}

