name: Push API Image

on:
  push:
    branches: master
  workflow_dispatch:
  
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          registry: 'docker.io'
          username: antoniofalcaojr
          password: 41dc1d7c-f2cc-4575-bb54-26bfbf015699
          repository: antoniofalcaojf/dotnet5-graphql3-webapi
          dockerfile: ./src/Dotnet5.GraphQL3.Store.WebAPI/Dockerfile
          tags: foo
