name: Push API Image

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  path-context:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          file: ./src/Dotnet5.GraphQL3.Store.WebAPI/Dockerfile
          labels: true
          tags: antoniofalcaojf/dotnet5-graphql3-webapi:latest
